$primary-color: purple;

.navbar {
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: $primary-color;
  // span {
  //   padding-right: 1rem;
  // }
}

.main {
  background-color: rgba(1, 0, 7, 0.884);
  color: white;
  width: 50%;
  text-align: center;
  border: 5px solid #817681;
  padding: 10px;
  position: fixed;
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

button {
  margin-left: 1rem;
}

.check-box {
  padding: 2%;
}

table{
  display: block;
  height: 300px;
  overflow: auto
}

tr {
  display:flex;
  align-items:center;
  height:50px;
}
// td{
//   position: sticky;
//   top: 0
// }

.trash{
  float: right;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  color: white;
  text-align: center;
}
