.todotable{
  border: 5px solid #FFFF00;
  width: 500px;
}

.mat-display-1{
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center
}

button{
  margin-left: 1rem;
}

.navbar{
  justify-content: space-between;
  margin-bottom: 2%;
}

span{
  padding-right: 1rem;
}

footer{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: purple;
   color: white;
   text-align: center;
}
